<main>
  <h3 class = "contact-count">There are <span class = "contact-number"><%=Contact.all.count%></span> contacts</h3>
  <ul class = "contact-list">
  <% Contact.all.each do |contact| %>
  <div class = contact-box>
    <li class = "contact-names"><h2 class = "contact-details"><a href="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %> (<%= contact.email %>)</a></h2></li>
    <p class = "link-detail"><a class = "edit-link" href="/contacts/<%=contact.id%>/edit">Edit</a> | <a class = "delete-link" href=#>Delete</a>
  </div>
  <% end %>
  </ul>
</main>
